body{
  background-color: #ffdddd!important;
}

.geraldine_julio_img{
  background-image: url(https://www.w3schools.com/w3images/wedding_couple2.jpg);
  background-repeat: no-repeat;
  /*margin: 32px 0;*/
  height: 400px;
  background-size: unset !important;
}
.image_content_wrapper{
  max-width: 850px;
  margin: auto;
  padding: 15px;
}
.couple_description{
  padding-top: 15px;
}